<template>
	<div>
	    <div class="hello">Essa é a {{who}} tela xpto.</div>
	    <router-link tag="a" to="/segundo">Link para o segundo</router-link>
	</div>
</template>

<script>
module.exports = {
    data: function() {
        return {
            who: 'primeira tela tela '
        }
    }
}
</script>
<style lang="scss">
	$font-stack:    Helvetica, sans-serif;
	$primary-color: #333;

	body {
	  font: 100% $font-stack;
	  color: $primary-color;
	}

	.hello {
	    background-color: #ffe;
	}
</style>